.servicesContainer {
	display: flex;
	flex-direction: column;
	/* gap: 30px; */
	/* padding: 30px 0; */
	margin-top: 100px;
}

.title {
	margin-bottom: 50px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.title>div {
	width: 70%;
	border-top: thick solid #d66939;
}

.title>h3 {
	width: 30%;
	text-align: center;
	font-size: 1.35rem;
}

.serviceContainer {
	/* width: 80%; */
	/* margin: auto; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	width: 90%;
	margin: auto;
	/* padding: 0 10px; */
}

.showMoreContainer {
	margin-top: 50px;
	text-align: center;
}

.showMore {
	text-decoration: none;
	background-color: transparent;
	border: none;
	color: #d66939;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 1rem;
	/* background-color: rgba(0, 0, 0, 0.2); */
	border: thick solid #d66939;
	/* border-radius: 5px; */
}