.loginContainer {
	/* margin-top: 100px; */
	display: flex;
	margin-top: 50px;
}

.loginImage {
	width: 50%;
}

.formContainer {
	/* background-color: rebeccapurple; */
	width: 50%;
	margin: auto;
}

.form {
	height: 100%;
	margin: auto;
	display: flex;
	/* background-color: #050e13; */
	/* color: white; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
}

.form>small>a {
	color: #d66939;
}

.form>small>a:visited {
	color: #d66939;
}

.formTitle {
	font-size: 35px;
}

.emailContainer,
.passwordContainer {
	display: flex;
	flex-direction: column;
	font-size: 1.15rem;
	gap: 5px;
}

.emailContainer>input,
.passwordContainer>input {
	/* border: 1px solid rgba(0, 0, 0, 0.3); */
	border: 2px solid #d66939;
	font-size: 1.5rem;
	padding: 0.35rem;
	/* border-radius: 5px; */
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.loginButton {
	border: none;
	/* background-color: rgba(0, 0, 0, 0.1); */
	cursor: pointer;
	padding: 10px 30px;
	font-size: 1.15rem;
	/* border-radius: 5px; */
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	color: #d66939;
	background: none;
	border: 2px solid #d66939;
}

.googleButton {
	font-size: 1.25rem;
}

.spinnerContainer {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}

@media (max-width: 640px) {
	.loginImage {
		display: none;
	}

	.formContainer {
		margin: auto;
	}
}