.myReviewContainer {
	padding: 20px;
	background-color: rgb(240, 240, 240);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.reviewEditForm {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.editField {
	width: 100%;
	resize: none;
	border: 2px solid rgba(0, 0, 0, 0.1);
	padding: 5px;
	font-size: 1rem;
}

.editButtonContainer {
	display: flex;
	gap: 10px;
}

.editSubmitButtonContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.editButton,
.submitButton,
.cancelButton {
	color: #d66939;
	background: none;
	border: 2px solid #d66939;
	padding: 5px 20px;
	cursor: pointer;
	font-size: 1rem;
}