.navbar {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navlink, .logout {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.navlink:hover, .logout:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
