.navbar {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navlink {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.navlink:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
