.navbar {
	display: flex;
	gap: 20px;
	padding: 10px 20px;
	height: 60px;
	background-color: #050e13;
	color: white;
}

.navlink,
.logout {
	text-decoration: none;
	background-color: transparent;
	border: none;
	color: white;
	padding: 10px;
	cursor: pointer;
	font-size: 1rem;
	/* box-sizing: border-box; */
}

.navlink:hover,
.logout:hover {
	/* background-color: rgba(0, 0, 0, 0.1); */
	border-bottom: 2px solid #d66939;
	/* border: 1px solid #d66939; */
	/* border-radius: 5px; */
}

.userImage {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}