.spinner {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: thick solid #d3d3d3;
	border-top-color: #d66939;
	box-sizing: border-box;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}