.backgroundImageContainer {
	width: 100%;
	height: 100vh;
	background: url('https://images.pexels.com/photos/108148/pexels-photo-108148.jpeg?cs=srgb&dl=pexels-kaique-rocha-108148.jpg&fm=jpg&w=1280&h=787') no-repeat center center;
	background-size: cover;
	box-shadow: inset 200px 200px 1000px black;
	/* display: flex;
	flex-direction: column; */
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 0 20px;
	height: 50px;
}

.header>a,
.header>button {
	color: white;
	background: none;
	border: none;
	text-decoration: none;
	cursor: pointer;
	font-size: 1rem;
}

.header>a:hover,
.header>button:hover {
	border-bottom: 3px solid #d66939;
}

.backgroundTextContainer {
	color: white;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-left: 50px;
	justify-content: center;
}

.backgroundTextContainer>h1 {
	font-size: 3rem;
}

.backgroundTextContainer>div>button {
	background: none;
	border: 5px solid #d66939;
	color: #d66939;
	font-weight: bold;
	font-size: 1.4rem;
	padding: 10px 50px;
	cursor: pointer;
}

.spinnerContainer {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.whatCanDoContainer {
	/* padding: 50px 0; */
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.whatCanDo {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 50px;
	padding: 0 70px;
	gap: 40px;
}

.whatCanDo>h3 {
	text-align: center;
}

.whatCanDoSingle {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.whatCanDoSingle>p {
	font-weight: bold;
}

.whatCanDoSingle>.icons {
	font-size: 4rem;
}

.latestWorks {
	/* padding: 50px 0; */
	margin-top: 100px;
}

.latestWorks>.workTitle {
	display: flex;
	align-items: center;
}

.latestWorks>.workTitle>div {
	width: 70%;
	border-top: thick solid #d66939;
}

.latestWorks>.workTitle>h3 {
	width: 30%;
	text-align: center;
}

.latestWorksImages {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 50px;
}

.latestWorksImages>img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.userImage {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	color: white;
}

.hamMenuContent {
	display: none;
}

.hamburger {
	display: none;
}

.desktopMenu {
	margin-left: auto;
	display: flex;
	/* flex-direction: column; */
	gap: 40px;
}

.desktopMenu>a {
	color: white;
	text-decoration: none;
}

.logout {
	background: none;
	border: none;
	font-size: 1rem;
	color: white;
	cursor: pointer;
}

@media (max-width: 640px) {
	.hamMenuContent {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50px;
	}

	.logout {
		padding: 0;
	}

	.hamMenuContent>a {
		color: white;
		text-decoration: none;
		margin-bottom: 20px;
	}

	.whatCanDo {
		grid-template-columns: repeat(2, 1fr);
	}

	.latestWorksImages {
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
		/* height: 100px; */
	}

	.hamburger {
		display: block;
		font-size: 2rem;
		color: white;
		margin-left: auto;
	}

	.header {
		padding: 5px 10px;
		justify-content: space-between;
	}

	.desktopMenu {
		display: none;
	}
}