.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.title {
	text-align: center;
	font-size: 1.6rem;
}

.serviceDetailsContainer {
	display: flex;
	gap: 20px;
}

.serviceTextContainer {
	width: 65%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.serviceImageContainer {
	width: 35%;
}

.serviceImage {
	object-fit: cover;
	width: 100%;
}