.title {
	text-align: center;

	/* padding: 20px 0; */
	margin-top: 50px;
}

.spinnerContainer {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}

.serviceContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	width: 90%;
	margin: auto;
	/* padding: 0 10px; */
	margin-top: 50px;
}