.myReviewsContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* padding: 20px; */
	margin-top: 40px;
}

.spinnerContainer {
	display: flex;
	justify-content: center;
}

.reviewsContainer {
	display: grid;
	width: 90%;
	margin: auto;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}