.myReviewsContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* padding: 20px; */
	margin-top: 40px;
}

.spinnerContainer {
	display: flex;
	justify-content: center;
}

.reviewsContainer {
	display: grid;
	width: 90%;
	margin: auto;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

@media (max-width: 810px) {
	.reviewsContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 640px) {
	.reviewsContainer {
		grid-template-columns: repeat(1, 1fr);
	}
}